#refresh {
  font-size: 50pt;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.letter {
  font-size: 50pt;
  float: left;
  border: solid #000;
  padding: 0 10 0 10;
  margin: 5px;
  background-color: #5a67d8;
  border-radius: 15px;
  cursor: move;
}

.word {
  display: flex;
  padding: 10px;
  margin-bottom: 100px;
  min-width: 30%;
  min-height: 93px;
  justify-content: center;
  background-color: #4c51bf;
  border-radius: 15px;
}

.choices {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  min-height: 93px;
  background-color: #ebf4ff;
}

/* Apply random rotation to the letters to make them look fun! */
.choices .letter:nth-of-type(1) {
  transform: rotate(-3deg);
}
.choices .letter:nth-of-type(2) {
  transform: rotate(5deg);
}
.choices .letter:nth-of-type(3) {
  transform: rotate(-4deg);
}
.choices .letter:nth-of-type(4) {
  transform: rotate(6deg);
}
.choices .letter:nth-of-type(5) {
  transform: rotate(-3deg);
}
.choices .letter:nth-of-type(6) {
  transform: rotate(7deg);
}
.choices .letter:nth-of-type(7) {
  transform: rotate(0deg);
}
.choices .letter:nth-of-type(8) {
  transform: rotate(-5deg);
}
.choices .letter:nth-of-type(9) {
  transform: rotate(-8deg);
}
.choices .letter:nth-of-type(10) {
  transform: rotate(4deg);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.correct {
  background-color: #68d391;
}

body {
  margin: 0;
  padding: 0;
}
